:root {
    --main-color: #5900ff;
    --secondry-color: #160c54;
    --text-color: #160c54;
  
    --preview-width: 300px;
    --preview-height: 300px;
    --preview-radius: 50px;
    --preview-background: #5900ff;
    --preview-shadow: 20px 20px 60px #4c00d9, -20px -20px 60px #6600ff;
  }