@import "./other/classes";
@import "./other/mixins";
@import "./variables";
@import "./preview";
@import "./editor";
@import "./footer";
@import "./responsive";

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background: var(--main-color);
  color: #fff;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
