.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  --main-color: #5900ff;
  --secondry-color: #160c54;
  --text-color: #160c54;
  --preview-width: 300px;
  --preview-height: 300px;
  --preview-radius: 50px;
  --preview-background: #5900ff;
  --preview-shadow: 20px 20px 60px #4c00d9, -20px -20px 60px #6600ff;
}

#neumorphism-app {
  width: 100%;
  height: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#neumorphism-app #shadow-adjust-box {
  width: 400px;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#neumorphism-app #shadow-adjust-box #preview-container {
  width: 400px;
  height: 400px;
}

#neumorphism-app #shadow-adjust-box #preview-container #preview {
  width: var(--preview-width);
  height: var(--preview-height);
  background: var(--preview-background);
  border-radius: var(--preview-radius);
  -webkit-box-shadow: var(--preview-shadow);
          box-shadow: var(--preview-shadow);
  margin: 1em 0;
}

#neumorphism-app #shadow-adjust-box #light-btn-container {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#neumorphism-app #shadow-adjust-box #light-btn-container span {
  background: 0 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: 2px solid #fff;
}

#neumorphism-app #shadow-adjust-box #light-btn-container #top-left {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: unset;
  border-top-right-radius: unset;
  border-top-left-radius: unset;
}

#neumorphism-app #shadow-adjust-box #light-btn-container #top-right {
  border-bottom-right-radius: unset;
  border-bottom-left-radius: 30px;
  border-top-right-radius: unset;
  border-top-left-radius: unset;
}

#neumorphism-app #shadow-adjust-box #light-btn-container #bottom-left {
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
  border-top-right-radius: 30px;
  border-top-left-radius: unset;
}

#neumorphism-app #shadow-adjust-box #light-btn-container #bottom-right {
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
  border-top-right-radius: unset;
  border-top-left-radius: 30px;
}

#neumorphism-app #shadow-adjust-box #light-btn-container .active-side {
  background: #00f8ff;
}

#neumorphism-app {
  width: 100%;
  min-height: 100vh;
  padding: 1em 0;
}

#neumorphism-app #copied {
  position: absolute;
  top: -3.5em;
  left: 18%;
  background: #fff;
  padding: 1em;
  border-radius: 20px/10px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 1rem;
}

#neumorphism-app .slidedown {
  -webkit-animation: 1.4s ease-in 1 slidedown;
          animation: 1.4s ease-in 1 slidedown;
}

@-webkit-keyframes slidedown {
  0% {
    top: -3.5em;
  }
  50% {
    top: 2em;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -3.5em;
  }
}

@keyframes slidedown {
  0% {
    top: -3.5em;
  }
  50% {
    top: 2em;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -3.5em;
  }
}

#neumorphism-app #editor {
  width: 27em;
  height: 32em;
  background: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0.5em 1em;
  font-size: 1.1em;
  color: var(--text-color);
  font-weight: bold;
  border-radius: 20px/60px;
  font-weight: 500;
  font-size: 15px;
}

#neumorphism-app #editor div {
  width: 100%;
}

#neumorphism-app #editor #color-option {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#neumorphism-app #editor #color-option #color-selector {
  width: 2.2em;
  height: 2.4em;
  outline: none;
  border: none;
  background-color: #fff;
}

#neumorphism-app #editor #color-option #Hex-color {
  width: 6em;
  height: unset;
  text-align: center;
  outline: none;
  border: 2px solid var(--main-color);
  padding: 3px 0;
  font-weight: bolder;
  border-radius: 4px;
}

#neumorphism-app #editor #color-option #Hex-color:focus {
  -webkit-box-shadow: 0px 0px 3px var(--main-color);
          box-shadow: 0px 0px 3px var(--main-color);
}

#neumorphism-app #editor #range-selector {
  width: 100%;
}

#neumorphism-app #editor #range-selector .slide-container {
  width: 100%;
  margin: 0.6em 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Mouse-over effects */
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
}

#neumorphism-app #editor #range-selector .slide-container .slider {
  width: 79%;
  /* Override default CSS styles */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 8px;
  /* Specified height */
  border-radius: 50px;
  background: var(--secondry-color);
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 1;
  /* Set transparency (for mouse-over effects on hover) */
  /* 0.2 seconds transition on hover */
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#neumorphism-app #editor #range-selector .slide-container .slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

#neumorphism-app #editor #range-selector .slide-container .slider::-webkit-slider-thumb {
  /* Override default look */
  -webkit-appearance: none;
          appearance: none;
  width: 18px;
  /* Set a specific slider handle width */
  height: 18px;
  /* Slider handle height */
  background: var(--main-color);
  border-radius: 50%;
  border: 2px solid #000;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

#neumorphism-app #editor #range-selector .slide-container .tooltip {
  visibility: hidden;
  margin: 0 0 0 12px;
  position: absolute;
  left: 0;
  display: inline-block;
  width: 6em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background: var(--secondry-color);
  border-radius: 4px;
  color: #fff;
}

#neumorphism-app #editor #range-selector .slide-container .tooltip::after {
  content: "";
  position: absolute;
  top: 33%;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent var(--secondry-color) transparent transparent;
}

#neumorphism-app #editor #range-selector .slide-container:hover .tooltip {
  visibility: visible;
}

#neumorphism-app #editor #switch-container {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#neumorphism-app #editor #switch-container button {
  border: none;
  outline: none;
  width: 5.4em;
  height: 2.2em;
  text-decoration: none;
  color: #fff;
  background-color: var(--secondry-color);
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}

#neumorphism-app #editor #switch-container button:hover {
  background-color: var(--main-color);
}

#neumorphism-app #editor #switch-container .active {
  background-color: var(--main-color);
}

#neumorphism-app #code-container {
  width: 100%;
  background-color: #1d1f21;
  border-radius: 4px;
  overflow: auto;
  margin: 0.6em 0;
}

#neumorphism-app #code-container pre {
  margin: 0 0.8em;
  padding: 0.8em 0;
}

#neumorphism-app #code-container ::-webkit-scrollbar {
  height: 4px;
}

#neumorphism-app #code-container ::-webkit-scrollbar-track {
  background-color: #1d1f21;
}

#neumorphism-app #code-container :-webkit-scrollbar-thumb {
  background-color: var(--main-color) !important;
}

#neumorphism-app #code-container pre {
  color: #c5c8c6;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px;
  text-align: left;
  white-space: pre;
  overflow: auto;
  border-radius: 0.3em;
  font-size: 13px;
}

#neumorphism-app #copy-btn {
  border: 1px solid black;
  width: 100%;
  height: 2em;
  text-decoration: none;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 1em;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: bold;
  outline: none;
  border: 2px solid var(--main-color);
}

#neumorphism-app #copy-btn:hover {
  color: var(--main-color);
  background: #fff;
}

#neumorphism-app #more-info-heading #read-more {
  font-weight: 500;
  margin-top: 1em;
}

#neumorphism-app #more-info-heading #read-more a {
  padding: 2px 8px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 4px;
  margin-left: 8px;
}

/* Colors
          Pink : #f8049c
          Blue : #5900ff
          Green : #00f8ff
      */
#footer {
  width: 100%;
  height: 13em;
  background-color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5em 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#footer #left-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#footer #left-content #footer-logo {
  font-size: 1.4rem;
  color: var(--main-color);
}

#footer #left-content #footer-logo a {
  color: var(--main-color);
  text-decoration: none;
}

#footer #left-content #footer-logo #secondry-heading {
  font-weight: 400;
}

#footer #left-content #social-media-handles {
  min-width: 5em;
  font-size: 1.6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer #left-content #social-media-handles .icon-style {
  color: var(--main-color);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  padding: 3px;
}

#footer #left-content #social-media-handles .icon-style:hover {
  color: #fff;
  background-color: var(--main-color);
}

#footer #left-content #github-link #github-heading {
  color: var(--main-color);
  font-size: 1.1rem;
  font-weight: 500;
}

#footer #left-content #github-link #github {
  margin-right: 4px;
}

#footer #left-content #github-link a {
  text-decoration: none;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 4px;
  font-weight: 500;
  padding: 1px 8px;
  border: 2px solid transparent;
  font-size: 0.9em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-left: 0.5em;
}

#footer #left-content #github-link a:hover {
  border-color: var(--main-color);
  color: var(--main-color);
  background-color: #fff;
}

#footer #right-content {
  height: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer #right-content h1 {
  color: var(--main-color);
  font-size: 2.4em;
}

#footer #right-content .coffee-btn {
  text-decoration: none;
  width: 10.5em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 4px;
  color: var(--main-color);
  font-weight: 500;
  border: 2px solid var(--main-color);
  padding: 3px 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#footer #right-content .coffee-btn:hover {
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

#footer #right-content .coffee-btn img {
  width: 22x;
  height: 37px;
}

@media (max-width: 810px) {
  #neumorphism-app {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #neumorphism-app #copied {
    left: 38%;
  }
  #neumorphism-app #editor {
    margin-top: 2em;
  }
}

@media (max-width: 650px) {
  #footer #left-content #footer-logo {
    font-size: 1.1rem;
  }
  #footer #right-content h1 {
    font-size: 1.6em;
  }
  #footer #right-content .coffee-btn {
    width: 10em;
  }
}

@media (max-width: 510px) {
  #footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  #footer #left-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
    height: 12em;
  }
  #footer #left-content #footer-logo {
    font-size: 1.2em;
  }
  #footer #right-content {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10em;
  }
  #footer #right-content h1 {
    font-size: 1.8em;
  }
}

@media (max-width: 500px) {
  #neumorphism-app #copied {
    left: 24%;
  }
  #neumorphism-app #shadow-adjust-box {
    margin: 2em 0;
    width: 330px;
    height: 300px;
  }
  #neumorphism-app #shadow-adjust-box #preview-container {
    width: 330px;
    height: 300px;
  }
  #neumorphism-app #editor {
    width: 22.5em;
    height: 30em;
    padding: 0.5em;
  }
  #neumorphism-app #editor #range-selector .slide-container .slider {
    width: 75%;
  }
  #neumorphism-app #editor #switch-container button {
    width: 5em;
    height: 2em;
    font-size: .8em;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background: var(--main-color);
  color: #fff;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=App.css.map */